#wrapper {
  background-color: #75bee9;
  background-image: url("../../assets/images/background.png");
}

#questionWrapper {
  position: absolute;
  top: 0;
  right: 260px;
  transition: all 0.35s ease;
}

#questionWrapper p {
  font-size: 42px;
  font-weight: bold;
  background-color: white;
  padding: 22px 54px 24px 54px;
  border-radius: 0px 0px 16px 16px;
}

#questionWrapper.off-canvas {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

#compass {
  position: absolute;
  top: 98px;
  left: 50px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all 0.35s ease;
}

#compass:after {
  content: attr(data-text);
  position: absolute;
  color: white;
  background-color: #8d64aa;
  white-space: nowrap;
  font-size: 43px;
  font-weight: bold;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 26px 34px 22px 34px;
  border-radius: 14px;
  top: calc(100% - 13px);
  visibility: hidden;
}

#compass[data-label='false']:after {
  visibility: hidden;
}

#compass[data-label='true']:after {
  visibility: visible;
}

#compass.scale-0 {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#compass #needle {
  -webkit-transform-origin: 135px 195px;
  -ms-transform-origin: 135px 195px;
  transform-origin: 135px 195px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 1s ease;
}

#compass[data-side="N"] #needle {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

#compass[data-side="E"] #needle {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#compass[data-side="S"] #needle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#compass[data-side="W"] #needle {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

#marker {
  position: absolute;
  width: 46px;
  height: 77px;
}

#marker #image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#marker #image #base {
  -webkit-transform-origin: 23px 77px;
  -ms-transform-origin: 23px 77px;
  transform-origin: 23px 77px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  transition: all 0.25s ease-out 0s;
}

#marker #image #circle {
  -webkit-transform-origin: 23px 23px;
  -ms-transform-origin: 23px 23px;
  transform-origin: 23px 23px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: all 0.2s ease-out 0.2s;
}

#marker #image #dot {
  -webkit-transform-origin: 23px 23px;
  -ms-transform-origin: 23px 23px;
  transform-origin: 23px 23px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: all 0.2s ease-out 0.4s;
}

#marker[data-hidden="false"] #image #base {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

#marker[data-hidden="false"] #image #circle {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#marker[data-hidden="false"] #image #dot {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#marker #label {
  position: absolute;
  white-space: nowrap;
  font-size: 43px;
  font-weight: bold;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 26px 34px 22px 34px;
  border-radius: 14px;
  top: calc(100% + 10px);
  visibility: hidden;
  transition: visibility 0s linear 1s;
}

#marker[data-hidden="false"] #label {
  visibility: visible;
}

#marker[data-label="U"] #label {
  top: calc( -100%  - 25px);
}
