

#compass {
  position: absolute;
  top: 98px;
  left: 50px;

  transform: scale(1);
  transition: all 0.35s ease;
}


#compass:after {
  content: attr(data-text);

  position: absolute;
  
  color: rgb(255, 255, 255);
  background-color: rgb(141, 100, 170);

  white-space: nowrap;
  font-size: 43px;

  font-weight: bold;

  left: 50%;

  transform: translateX(-50%);

  padding: 26px 34px 22px 34px;
  border-radius: 14px;

  top: calc(100% - 13px);

  visibility: hidden;
}


#compass[data-label='false']:after {
  visibility: hidden;
}

#compass[data-label='true']:after {
  visibility: visible;
}






#compass.scale-0 {
  transform: scale(0);
}

#compass #needle {
  transform-origin: 135px 195px;
  transform: rotate(0deg);
  
  transition: all 1s ease;
}

#compass[data-side="N"] #needle {
  transform: rotate(360deg);
}

#compass[data-side="E"] #needle {
  transform: rotate(90deg);
}

#compass[data-side="S"] #needle {
  transform: rotate(180deg);
}

#compass[data-side="W"] #needle {
  transform: rotate(270deg);
}