

$markerLabelOffset : 10px;


#marker {
  position: absolute;

  width: 46px;
  height: 77px;
}


#marker #image {
  position: absolute;
  
  width: 100%;
  height: 100%;
  
  top: 0;
  left: 0;
}


#marker #image #base {
  transform-origin: 23px 77px;
  transform: scaleY(0);
  transition: all 0.25s ease-out 0s;
}

#marker #image #circle {
  transform-origin: 23px 23px;
  transform: scale(0);
  transition: all 0.2s ease-out 0.2s;
}

#marker #image #dot {
  transform-origin: 23px 23px;
  transform: scale(0);
  transition: all 0.2s ease-out 0.4s;
}


#marker[data-hidden="false"] #image #base {
  transform: scaleY(1);
}

#marker[data-hidden="false"] #image #circle {
  transform: scale(1);
}

#marker[data-hidden="false"] #image #dot {
  transform: scale(1);
}





#marker #label {
  position: absolute;

  white-space: nowrap;
  font-size: 43px;

  font-weight: bold;

  left: 50%;

  transform: translateX(-50%);

  padding: 26px 34px 22px 34px;
  border-radius: 14px;

  top: calc(100% + 10px);

  visibility: hidden;
  transition: visibility 0s linear 1s;
}

#marker[data-hidden="false"] #label {
  visibility: visible;
}

#marker[data-label="U"] #label {
  top: calc( -100%  - 25px);
}