

#questionWrapper {
  position: absolute;
  top: 0;
  right: 260px;

  transition: all 0.35s ease;
}

#questionWrapper p {
  font-size: 42px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 22px 54px 24px 54px;
  border-radius: 0px 0px 16px 16px;
}

#questionWrapper.off-canvas {
  transform: translateY(-100%);
}